#dreadImg, #carrierImg, #cruiserImg, #destroyerImg, #fighterImg, #groundImg, #pdsImg, #warImg, #warImgDamage, #dreadImgDamage, #carrierImgDamage {
  display: none;
}

#hitsMessage {

font-size: 80px;
margin: 0 auto;
text-align: center;

}

figure {
  float: left;
  margin: 0;
  padding: 0;

}

#overlay {
  position:absolute;
  width: 100%;
  text-align: center;
  color: green;
  font-family: sans-serif;

}

.center {
  width: 100%;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Botão toggle do W3Schools */

.switch input {display:none;}

div.tech, div.race {
  width: 80px;
  display: inline-block;
}

.tech:hover, .race:hover {background-color: #D3D3D3;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.raceTech {
  display: none;
}
